@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #1d242e;
}

.container {
  padding: 22px 10px;
  margin: auto;
  max-width: 1300px;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 5px #00000059;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.links-container li,
.links-container a {
  list-style: none;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ff0084;
  transition: 0.3s ease-in;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #ff0084;
}

:root {
  --backgroundcolor: white;
  --primarycolor: rgb(213, 7, 120);
}

.containerr {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.formSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: var(--backgroundcolor);
  padding: 50px;
  border-radius: 16px;
}

.phone,
.Email,
.Location {
  display: flex;
  align-items: center;
  gap: 40px;
}

.form {
  display: flex;
  flex-direction: column;
}

.submitBTN {
  margin-top: 20px;
  border: none;
  background-color: var(--primarycolor);
  padding: 10px;
  border-radius: 16px;
  color: var(--backgroundcolor);
}

.fotter {
  width: 100%;
  background-color: #28313e;
  padding: 10px 0;

}

.mynumber {
  color: #ff0084;
}

.contact {
  color: aliceblue;
}

.text-centerp-3 {
  color: aliceblue;
}